<div class="container bg-white d-flex mt-5 mb-3">
  <img class="img-responsive center-block" src="{{user.image}}"
    style="width: 250px;margin-bottom: 25px; margin-top: 25px;">
  <div class="ml-5 mt-3">
    <h2>{{user.name}}</h2>
    <h3>{{user.email}}</h3><br>
    <h6>{{count}} 已評論餐廳</h6><br>
    <a href='/users/{{user.id}}/edit'>
      <button type="button" class="btn btn-primary">edit</button>
    </a>
  </div>

</div>

<div class="card">
  <div class="card-header">
    {{count}} 已評論餐廳
  </div>
  <div class="card-body">
    {{#each restComment}}
    <a href="/restaurants/{{this.RestaurantId}}"><img class="img-responsive center-block" src="{{this.restaurantImage}}"
        style="width: 100px;"></a>
    {{/each}}

  </div>
</div>